
<div class="container">
  <div class="row">
    <div class="col">
<form id="post-form" class="post-form">
  <div class="newpost-wrap">
    <h6 class="form-title"> Create new Post </h6>
    <div>
    <input type="text" id="post-title" placeholder="post-title"/>
  </div>
  <div>
    <label for="contents"> {{post.contents}}</label>
    <input type="input" id="new-post-content"/>
  </div>
  <div>
    <button id="login-btn" type="submit">Create</button>
  </div>
  </div>
</form>
</div>
</div>
</div>


{{#if posts.length}}
<div class="your-post container">
  <div class="row">
    <div class="col">
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  </div>
  </div>
</div>
{{/if}}

<script src="/javascript/add-post.js"></script>